{% extends 'NetgenBlockManagerAdminBundle:form:form.html.twig' %}

{% trans_default_domain 'ngbm' %}

{% block children %}
    {{ form_row(form.parameters.use_current_location) }}
    {{ form_row(form.parameters.field_definition_identifier) }}
    {{ form_row(form.parameters.sort_type) }}
    {{ form_row(form.parameters.sort_direction) }}
    {{ form_row(form.parameters.limit) }}

    <a class="toggle-link sub-toggle" role="button" data-toggle="collapse" href="#collapseAdvanced" aria-expanded="true" aria-controls="collapseAdvanced">
        {{ 'query.ezcontent_relation_list.advanced_options'|trans }}
    </a>

    <div class="collapse in" id="collapseAdvanced">
        {{ form_rest(form.parameters) }}
    </div>
{% endblock %}
